header{
    border-bottom: 2px solid black;
    margin-bottom: 20px;
}
.container{
    padding: 0 220px;
}
#img1{
    width: 450px;
    border: 2px solid black;
    float: left;

}
#img2{
    float: right;
    width: 450px;
    border: 2px solid black;
}
main{
    clear: both;
}
footer{
    border-top: 2px solid black;
}